flask>=2.0.1
python-dotenv>=0.19.0
requests>=2.26.0
scikit-learn>=1.0.2
tensorflow>=2.6.0
hashcat>=6.2.5
python-Levenshtein>=0.12.2
flask-login>=0.6.2
flask-sqlalchemy>=3.0.3
flask-wtf>=1.1.1
wtforms>=3.0.1
pycryptodome>=3.18.0
email-validator>=2.0.0
flask-migrate>=4.0.4 